%li{ class: "notification #{roommate_notification.seen? ? "seen" : "unseen" }" }
  = link_to see_roommate_notification_url(roommate_notification) do
    = render partial: "notification_mailers/#{roommate_notification.notification.axis_type.underscore}", locals: { notification: roommate_notification.notification, roommate_notification: roommate_notification, :"#{roommate_notification.notification.axis_type.underscore}" => roommate_notification.notification.axis }
