%h1 Shared expenses for #{current_user.household.nickname}
.row
  .span8
    %table.table
      %tr
        - @roommates.each do |r|
          %th= r.full_name
      - (0..@max_expenses - 1).each do |index|
        %tr
          - @roommates.each do |r|
            %td
              - unless (expense = r.expenses[index]).nil?
                <span class="item_name" contenteditable="false">#{expense.item_name}</span>: $<span class="item_name" contenteditable="false">#{expense.value}</span>
      %tr
        - @roommates.each do |r|
          %td $#{((r.cash_owed * 100.0).ceil / 100.0)}
  .span4
    %h3 Create Expense
    = render 'form'

%br/
= link_to 'Invite More Roommates', invite_friends_path, class: 'btn btn-custom btn-primary'
