%p#notice= notice

- if @expense.deleted?
  %p
    %b
      This expense has been deleted.
      It will not be included in the net owed. 
      #{link_to "Recover it", recover_expense_path(@expense), method: :put}.
%p
  %b Household:
  = @expense.household.nickname
%p
  = @expense.roommate.full_name
  = @expense.paid_in ? 'spent' : 'paid in'
  $
  = @expense.value
  = "split evenly #{@expense.household.roommates.count} ways" if @expense.split_evenly
  for
  = @expense.item_name
- if @expense.note != ''
  %p
    Other Notes:
  %p
    = @expense.note

= link_to 'Edit', edit_expense_path(@expense)
|
\#{link_to 'Back', expenses_path}
