!!!
%html
  %head
    %title Splitzies
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top#primary
      .navbar-inner
        .container
          .brand Splitzies
          - unless current_user.nil?
            %ul.nav.pull-right
              %li=link_to 'Expenses', expenses_path
              - unless current_user.roommate_notifications.empty?
                %li.dropdown#notifications-dropdown
                  =link_to 'javascript:void(0)', :class => 'dropdown-toggle', :'data-toggle' => :dropdown do
                    %i.icon-list.icon-white
                  %ul.dropdown-menu
                    - current_user.roommate_notifications.sort_by { |rn| 0 - rn.created_at.to_i }.each do |rn|
                      = render rn
                    %li
                      = link_to clear_roommate_notifications_path do
                        %i.icon-remove
                        Clear Notifications
              %li.dropdown#current-user-dropdown
                = link_to 'javascript:void(0)', :class => 'dropdown-toggle', :'data-toggle' => :dropdown do
                  = image_tag current_user.photo
                  = current_user.full_name
                %ul.dropdown-menu
                  %li=link_to "Account Settings", edit_roommate_path(current_user)
                  %li=link_to 'Log out', logout_path
    .container
      = yield
    #fb-root
    %script{:src => "http://connect.facebook.net/en_US/all.js"}
    :javascript
      FB.init({
        appId: '#{ENV['FACEBOOK_KEY']}'
      });
    = javascript_include_tag "application"
